%nav.categories
	%ul.menu
		%li
			%a{:href => '/about'} About
		%li
			%a{:href => '/current-projects'} Current Projects
		%li
			%a{:href => '/past-work'} Past Work
		%li
			%a{:href => '/blog'} Blog

- if ! @menu_items.empty?
	%nav.categories
		%h1 Articles by Category
		- display_menu(@menu_items, :class => "menu")
