%h1 Current Projects

%h2 
  %a{:href => 'http://signalkit.com'} SignalKit
%a.nounderline.inset{:href => 'http://signalkit.com'}
  %img{:alt => 'SignalKit', :src => "/attachments/portfolio/signalkit.png"}
%p SignalKit is a suite of tools that integrates with 37Signals products. Notifire sends you an SMS or IM when someone enters your Campfire chatroom. 37,000 Feet shows you everything assigned to you across all your 37Signals accounts, all on one page.
  