%h1 Current Projects

%h2 
  %a{:href => 'http://signalkit.com'} SignalKit
%a.nounderline.inset{:href => 'http://signalkit.com'}
  %img{:alt => 'SignalKit', :src => "/attachments/portfolio/signalkit.png"}
%p SignalKit is a suite of tools that enhances your 37Signals experience. Notifire sends you an SMS or IM when someone enters your Campfire chatroom. It's a great way to enhance Campfire notifications with your team, and an easy way to add live chat support to any website. 37,000 Feet shows you every milestone and every todo, across every Basecamp project in every account. Plus every Highrise task and all your Backpack reminders. All on one page.
  