%h2 I do...

%h3 Web Application Development

%p 
  My preference is to work with startups and innovators. I'm a technical partner on my own startup,
  %a{:href => 'http://signalkit.com'} SignalKit, 
  which integrates with 37Signals' project management software to make life easier for folks who use their services. Tell me about your business model - I'd love to help.

%h3 Payment Portal Integration

%p Web apps need to make money to survive. The goal is to make it easy for your users to pay you for your services. There's a lot to think about when you get into the payment stage - regulatory requirements, security, and vendor choice on the technical side. I'm here to help. I'll make it work, you run your business.

%h3 App Creation

%p Want to mash up Facebook, SoundCloud and Google Maps? No problem. Need a custom Facebook app or Twitter aggregator? Got it. I believe that the future is in tying together existing services to make the world easier for everyone. That's what I do.