%h1 Projects

%h2 
  %a{:href => 'http://staging.sccdigital.com'} SCC|Digital
%a.nounderline.inset{:href => 'http://staging.sccdigital.com'}
  %img{:alt => 'SCC|Digital Website', :src => "/attachments/portfolio/sccdigital-site.jpg", :target => '_blank'}
%p 
  Employs a custom Ruby gem for performing color calculations, backstretch for the background images, and jQuery Masonry for the cool positioning effects. Site is built on Rails 3 and MongoDB. Built while part of the team at
  %a{:href => 'http://www.schafercondoncarter.com'} Schafer|Condon|Carter.